<?xml version="1.0" encoding="UTF-8"?>
    
        日志
    

    
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        

        <!--战斗记录，用于反作弊，目前没有实装 -->
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        

        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        

        <!--各类聊天记录，主要用于多人联机 -->
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
        
            
            
                
                
            
            
                
                    
                    
                
            
        
        
            
        
    

    <!--Loggers:定义日志级别和使用的Appenders -->
    
        <!--name: 打印日志的类的包路径 -->
        <!--additivity: true当前的Logger打印的日志附加到Root，false仅仅打印到RollingFile -->
        <!--Root:日志默认打印到控制台 -->
        <!--level日志级别: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
        

        <root level="">
    <appender-ref ref="Console"/>
</root>

        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        

        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        

        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        

        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
        
            
        
    
